<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}


<head>
<meta charset="UTF-8">
<title>Buggy Admin</title>
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="description" content="Car Rental One Page HTML Template">
<meta name="keywords" content="one page, html, template, car, car rental, taxi, cab, booking, responsive, business">
<meta name="author" content="sharjeel anjum">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- Bootstrap css -->
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap-datetimepicker.min.css' %}">

<!-- Fontawesome css -->
<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">

<!-- Magnific-popup css -->
<link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">

<!-- Rev Slider css -->

<!-- Owl Carousel css -->
<link rel="stylesheet" href="{% static 'css/owl.theme.css' %}">
<link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">

<!-- Main css -->
<link rel="stylesheet" href="{% static 'css/styleadmin.css' %}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">


</head>



    <body>

        <div class="navbar custom-navbar wow fadeInDown" data-wow-duration="2s" role="navigation" id="header">
          <div class="container">

            <!-- NAVBAR HEADER -->
            <div class="navbar-header">
              <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="icon icon-bar"></span> <span class="icon icon-bar"></span> <span class="icon icon-bar"></span> </button>
              <!-- lOGO TEXT HERE -->
              <a href="index.html" class="navbar-brand">Admin <span> BUGGY TLC </span></a> </div>

            <!-- NAVIGATION LINKS -->
            <div class="collapse navbar-collapse">
              <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                <li><a href="{% url 'buggy_app:home' %}" class="smoothScroll">Home</a></li>
                <li><a href="{% url 'admin:index' %}" class="smoothScroll">Admin</a></li>


          <li><a href="{% url 'logout' %}"class="smoothScroll">Logout</a></li>
        {% else %}
          <li><a href="{% url 'buggy_app:user_login' %}" class="smoothScroll">Login</a></li>
        {% endif %}
        <li><a href="{% url 'buggy_app:services' %}" class="smoothScroll">Services</a></li>
        <li><a href="{% url 'buggy_app:car_list' %}" class="smoothScroll">CAr List </a></li>




                <li><span class="calltxt"><i class="fa fa-phone" aria-hidden="true"></i> 123 456 7890</span></li>
              </ul>
            </div>
          </div>
        </div>


























<div class="container">



      {% block body_block %}

      {% endblock %}
</div>
<!-- Bootstrap -->
<script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>




<script type="text/javascript" src="{% static 'js/bootstrap-datetimepicker.min.js' %}" charset="UTF-8"></script>

<!-- Popup -->

<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'js/magnific-popup-options.js' %}"></script>

<!-- Carousel -->
<script src="{% static 'js/owl.carousel.js' %}"></script>



<!-- Sticky Header -->
<script src="{% static 'js/jquery.sticky.js' %}"></script>


<!-- Parallax -->
<script src="{% static 'js/jquery.parallax.js' %}"></script>


<!-- Counter -->
<script src="{% static 'js/counter.js' %}"></script>

<script src="{% static 'js/smoothscroll.js' %}"></script>


<!-- Custom -->
<script src="{% static 'js/custom.js' %}"></script>

</body>
</html>
