{% extends "buggy_app/base.html" %}


{% block body_block %}
{% load staticfiles %}
<div class="container">

  <div class="jumbotron">
  <h2>Booking detail</h2>
<div class="container">
  <div class="col-12">


  <div class="card" style="width:400px">
    <img class="card-img-top" src="{% static "img/booked.png" %}" alt="Card image" style="width:100%">
    <div class="card-body">
      <h3 class="card-title">Id #  {{booking_details.id}} | Name :  {{booking_details.customer_name}} </h3>
      <p class="card-text"> The {{booking_details.book_car}} is booked in $ {{booking_details.rental_price}} from {{booking_details.booking_start_date}} to {{booking_details.booking_end_date}}. <br> Admin Aprroved = {{booking_details.is_approved}} </p>
      <a class='btn btn-warning' href="{% url 'buggy_app:update' pk=booking_details.pk %}">Update</a>

    </div>

    </div>
    </div>
    </div>
        </div>





{% endblock %}
