{% extends "buggy_app/base.html" %}


{% block body_block %}
{% load staticfiles %}
<div class="container">
  <link rel="stylesheet" href="{% static 'css/table.css' %}">




  <div class="jumbotron">

    <h1>Welcome to the list of Booking </h1>


  </div>

  <div class="col-12">

  <img src="{% static "img/bg.png" %}" class="img-fluid" alt="Responsive image">
  </div>

    </div>
    <div class="container">
      <div class="row text-center padding">

      <div class="col-cs-12 col-sm-6 col-md-6 col-lg-3">
    <table>
  <thead >
    <tr>
      <th>ID</th>
      <th>Booking Name</th>
      <th>Customer Name</th>
      <th>book_car</th>
      <th>booking_start_date</th>
      <th>booking_end_date</th>
      <th>rental_price</th>
        <th>times_pick</th>
          <th>is_approved</th>
            <th>Detail Link    </th>

</tr>

  </thead>

  {% for books in books %}

  <tbody>
    <tr>
      <td>{{books.id}}</td>
      <td>
            {{books.booking_name}}</td>
      <td>{{books.customer_name}}
            </td>
      <td>{{books.book_car}}
            </td>
      <td>{{books.booking_start_date}}
            </td>
      <td>{{books.booking_end_date}}
            </td>
            <td>{{books.rental_price}}
            </td>


      <td>{{books.times_pick}}
      </td>

            <td>{{books.is_approved}}
            </td>
                  <td><a href="{% url 'buggy_app:detail' pk=books.pk %}" class="btn btn-large">BOOK a Car</a>
                  </td>
</tr>
  </tbody>
  {% endfor %}

</table>




</div>
</div>
</div>

{% endblock %}
