{% extends "buggy_app/base.html" %}
{% load static from staticfiles %}
{% load bootstrap4 %}
{% block body_block %}
<body>
  <div class="container">
      <div class="container">
        <div class="container">



<h1>
  {% if not form.instance.pk %}
  Create Booking
  {% else %}
  Update Booking
  {% endif %}
</h1>
  <form method="POST">
    {% csrf_token %}
      {% bootstrap_form form %}
    <input type="submit" class='btn btn-primary' value="Submit">

  </form>

</div>
</div>
</div>
  <script src="{% static "js/master.js"%}" type="text/javascript" ></script>

{% endblock %}
