{% extends "buggy_app/base.html" %}


{% block body_block %}
{% load staticfiles %}

<link rel="stylesheet" href="{% static 'css/style1.css' %}">
<div class="container-fluid padding">
<div class="row jumbotron">
  <div class="row welcome text-center">



<div class="col-12">

<img src="{% static "img/bg.png" %}" class="img-fluid" alt="Responsive image">
</div>

  </div>


  </div>
  </div>







<div class="container-fluid padding">
<div class="row welcome text-center">
  <div class="col-12">
    <h1 class="display-4">  CAr Detail </h1>


</div>
<hr class="my-4">

</div>
</div>

        <!--Car Details-->
    <div class="single-car car-details">
        <div class="auto-container">
        	<!--Basic Details-->
            <div class="basic-details">
            	<div class="row clearfix">
                	<!--Carousel Column-->
                    <div class="carousel-column col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    	<!--Product Carousel-->
                      <div id="myCarousel" class="carousel slide" data-ride="carousel">
       <!-- Indicators -->
       <ol class="carousel-indicators">
         <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
         <li data-target="#myCarousel" data-slide-to="1"></li>
         <li data-target="#myCarousel" data-slide-to="2"></li>
       </ol>

       <!-- Wrapper for slides -->
       <div class="carousel-inner">
         <div class="item active">
           <img src="{{car_details.car_image.url}}" alt="Los Angeles" style="width:100%;">
         </div>

         <div class="item">
           <img src="{{car_details.car_image_internal.url}}" alt="Chicago" style="width:100%;">
         </div>

         <div class="item">
           <img src="{{car_details.car_image_internal2.url}}" alt="New york" style="width:100%;">
         </div>
       </div>

       <!-- Left and right controls -->
       <a class="left carousel-control" href="#myCarousel" data-slide="prev">
         <span class="glyphicon glyphicon-chevron-left"></span>
         <span class="sr-only">Previous</span>
       </a>
       <a class="right carousel-control" href="#myCarousel" data-slide="next">
         <span class="glyphicon glyphicon-chevron-right"></span>
         <span class="sr-only">Next</span>
       </a>
     </div>
   </div>




                    <!--Info Column-->
                    <div class="info-column col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    	<div class="info-outer">
                        	<div class="upper-info">
                        		<div class="sidebar-title"><h3>{{car_details.brand}}-{{car_details.car_name}} </h3></div>
                            <hr>
                            {{car.id}}

                            	<ul class="list">
                                    <li><a href="#" class="clearfix"><span class="col">Transmission</span> <span class="col">{{car_details.transmission}}</span></a></li>
                                    <li><a href="#" class="clearfix"><span class="col">Airbags</span> <span class="col">{{car_details.air_bags}}</span></a></li>
                                    <li><a href="#" class="clearfix"><span class="col">Color</span> <span class="col">{{car_details.color}}</span></a></li>
                                    <li><a href="#" class="clearfix"><span class="col">Fuel Type</span> <span class="col">{{car_details.fuel_type}}</span></a></li>
                                    <li><a href="#" class="clearfix"><span class="col">Power</span> <span class="col">{{car_details.power_hp}}</span></a></li>
                                    <li><a href="#" class="clearfix"><span class="col">Seats</span> <span class="col">{{car_details.seats}}</span></a></li>
                                    <li><a href="#" class="clearfix"><span class="col">Avaiblility</span> <span class="col">{{car_details.is_available_car}}</span></a></li>
                                    <li><a href="#" class="clearfix"><span class="col">Model Year</span> <span class="col">{{car_details.model_year}}</span></a></li>
                                </ul>
                            </div>
                            <ul class="info clearfix">
                                <li> <span class="price"><strong>Price:</strong> </span></li>
                                <li> <span class="price"><strong>${{car_details.car_price}}</strong> / Week</span></li>
                            </ul>
                        </div>


                      <a href="{% url 'buggy_app:car_booking' %}?car={{car_details.id}}" class="theme-btn btn-style-one">BOOK a Car</a>

                    </div>

                </div>
            </div>
			<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-long-arrow-up"></span></div>



{% endblock %}
