{% extends "buggy_app/base.html" %}


{% block body_block %}
{% load staticfiles %}
<div class="container">

  <div class="jumbotron">
  <h2>Driver detail</h2>
<div class="container">
  <div class="col-12">


  <div class="card" style="width:400px">
    <img class="card-img-top" src="{% static "img/booked.png" %}" alt="Card image" style="width:100%">
    <div class="card-body">
      <h3 class="card-title">Id #  {{driver_details.id}} | Name :  {{driver_details.driver_firstname}} </h3>
      <p class="card-text"> The {{driver_details.book_car}} is booked in $ {{driver_details.rental_price}} from {{driver_details.booking_start_date}} to {{driver_details.booking_end_date}}. <br> Admin Aprroved = {{booking_details.is_approved}} </p>
      <a class='btn btn-warning' href="{% url 'buggy_app:dupdate' pk=driver_details.pk %}">Update</a>

    </div>

    </div>
    </div>
    </div>
        </div>
        {% endblock %}
