{% extends "buggy_app/adminbase.html" %}
{% load static from staticfiles %}


{% block body_block %}

<div class="parallax-section" id="cars">
  <div class="container">
    <div class="section-title">
      <h3>Vehicle Models <span>For Rent</span></h3>
      <p>List of buggy CAr</p>
    </div>
    <div class="vehiclesList">
      <ul class="carsmodals">
        <li class="item">
          <div class="row">
            <div class="col-md-3">
              <h3>Sonata</h3>
              <div class="subtitle">Luxury</div>
              <div class="carPrice"> <strong>$99</strong> <span>/Day</span> </div>
              <a href="#" class="btn"><i class="fa fa-calendar" aria-hidden="true"></i> Reserve Now</a> </div>
            <div class="col-md-6"><a href="{% static "img/sn.jpg" %}" class="image-popup"><img src="{% static "img/sn.jpg" %}" alt="" /></a></div>
            <div class="col-md-3">
              <div class="carinfo">
                <ul>
                  <li>Doors: <strong>4</strong></li>
                  <li>Passengers: <strong>5</strong></li>
                  <li>Luggage: <strong>2 Bags</strong></li>
                  <li>Transmission: <strong>Automatic</strong></li>
                  <li>Air conditioning: <strong>Dual Zone</strong></li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li class="item">
          <div class="row">
            <div class="col-md-3">
              <h3>Nissan Rogue</h3>
              <div class="subtitle">Premium</div>
              <div class="carPrice"> <strong>$125</strong> <span>/Day</span> </div>
              <a href="{% url 'buggy_app:export_booking_xls' %}" class="btn"><i class="fa fa-calendar" aria-hidden="true"></i> BookingList</a> </div>
            <div class="col-md-6"><a href="{% static "img/nr.jpg" %}" class="image-popup"><img src="{% static "img/nr.jpg" %}" alt="" /></a></div>
            <div class="col-md-3">
              <div class="carinfo">
                <ul>
                  <li>Doors: <strong>4</strong></li>
                  <li>Passengers: <strong>5</strong></li>
                  <li>Luggage: <strong>2 Bags</strong></li>
                  <li>Transmission: <strong>Automatic</strong></li>
                  <li>Air conditioning: <strong>Dual Zone</strong></li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li class="item">
          <div class="row">
            <div class="col-md-3">
              <h3>Hyundai Santa</h3>
              <div class="subtitle">Comfort</div>
              <div class="carPrice"> <strong>$199</strong> <span>/Day</span> </div>
              <a href="#" class="btn"><i class="fa fa-calendar" aria-hidden="true"></i> Reserve Now</a> </div>
            <div class="col-md-6"><a href="{% static "img/he.jpg" %} "class="image-popup"><img src="{% static "img/he.jpg" %}" alt="" /></a></div>
            <div class="col-md-3">
              <div class="carinfo">
                <ul>
                  <li>Doors: <strong>4</strong></li>
                  <li>Passengers: <strong>5</strong></li>
                  <li>Luggage: <strong>2 Bags</strong></li>
                  <li>Transmission: <strong>Automatic</strong></li>
                  <li>Air conditioning: <strong>Dual Zone</strong></li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li class="item">
          <div class="row">
            <div class="col-md-3">
              <h3>Lamborginhi</h3>
              <div class="subtitle">Boom Boom</div>
              <div class="carPrice"> <strong>$215</strong> <span>/Day</span> </div>
              <a href="#" class="btn"><i class="fa fa-calendar" aria-hidden="true"></i> Reserve Now</a> </div>
            <div class="col-md-6"><a href="{% static "img/special.png" %} " class="image-popup"><img src="{% static "img/special.png" %} "alt="" /></a></div>
            <div class="col-md-3">
              <div class="carinfo">
                <ul>
                  <li>Doors: <strong>4</strong></li>
                  <li>Passengers: <strong>5</strong></li>
                  <li>Luggage: <strong>2 Bags</strong></li>
                  <li>Transmission: <strong>Automatic</strong></li>
                  <li>Air conditioning: <strong>Dual Zone</strong></li>
                </ul>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="col-md-3">

 </div>


</div>
<div class="button-group-area mt-40">

<div class=" container">
<div class="row text-center padding">

<div class="col-cs-12 col-sm-6 col-md-6 col-lg-3">
  <p>Click to have Booking list</p>

<a href="{% url 'buggy_app:export_booking_xls' %}" class="genric-btn success radius"><i class="fa fa-calendar" aria-hidden="true"></i> BookingList</a>

</div>



<div class="col-cs-12 col-sm-6 col-md-6 col-lg-3">
  <p>Click to have CAr list</p>

<a href="{% url 'buggy_app:export_car_xls' %}" class="genric-btn default radius"><i class="fa fa-calendar" aria-hidden="true"></i>CAr Excel</a>

</div>
</div>
</div>
</div>

<!-- Service Section -->
<div id="service" class="parallax-section">
  <div class="container">
    <!-- Section Title -->
    <div class="section-title" >
      <h3>Car Rental <span>Services</span></h3>
    </div>
    <div class="row">
      <!-- Service 1 -->
      <div class="col-md-4 col-sm-6">
        <div class="service-thumb">
          <div class="thumb-icon"><i class="fa fa-phone" aria-hidden="true"></i></div>
          <h4>Phone Reservation</h4>
        </div>
      </div>

      <!-- Service 2 -->
      <div class="col-md-4 col-sm-6">
        <div class="service-thumb">
          <div class="thumb-icon"><i class="fa fa-money" aria-hidden="true"></i></div>
          <h4>Special Rates</h4>
        </div>
      </div>

      <!-- Service 3 -->
      <div class="col-md-4 col-sm-6">
        <div class="service-thumb">
          <div class="thumb-icon"><i class="fa fa-road" aria-hidden="true"></i></div>
          <h4>One Way Rental</h4>
        </div>
      </div>

      <!-- Service 4 -->
      <div class="col-md-4 col-sm-6">
        <div class="service-thumb">
          <div class="thumb-icon"><i class="fa fa-umbrella" aria-hidden="true"></i></div>
          <h4>Life Insurance</h4>
        </div>
      </div>

      <!-- Service 5 -->
      <div class="col-md-4 col-sm-6">
        <div class="service-thumb">
          <div class="thumb-icon"><i class="fa fa-building" aria-hidden="true"></i></div>
          <h4>City to City</h4>
        </div>
      </div>

      <!-- Service 6 -->
      <div class="col-md-4 col-sm-6">
        <div class="service-thumb">
          <div class="thumb-icon"><i class="fa fa-car" aria-hidden="true"></i></div>
          <h4>Free Rides</h4>
        </div>
      </div>
    </div>
  </div>
</div>
<footer>
<div class="container-fluid padding">
  <div class="row text-center">
    <div class="col-md-4">
      <img src="{% static "img/buggyc.png" %}"alt="buggylogo">
      <hr class="light">
      <p>718-705-4480</p>
      <p>buggy@joinbuggy.com</p>
      <p>St 389-391 EMPIRE BLVD </p>
      <p>BROOKLYN, NY 11225</p>

    </div>
    <div class="col-md-4">
      <hr class="light">
      <h5>Our Hours</h5>
      <hr class="light">
      <p> UTC Offset Standard Time : UTC -5H</p>
      <p>MONDAY – FRIDAY : 8:00AM – 6:00PM</p>
      <p>SATURDAY : CLOSED </p>
      <p>SUNDAY : 9:00AM -5:00PM</p>

    </div>
    <div class="col-md-4">
      <hr class="light">
      <h5>Services</h5>
      <hr class="light">
      <p>INFO FOR CURRENT DRIVERS -TEXT ONLY : 347-334-6313</p>
      <p>BILLING - TEXT ONLY : 347-334-6316</p>
      <p>MAINTENANCE -TEXT ONLY : 347-334-6314</p>
    </div>
    <div class="col-12">
      <hr class="light-100">
      <h5>© 2017 Buggy</h5>

    </div>
  </div>

</div>



</footer>

      {% endblock %}
