<!-- Contact Section -->
{% extends "buggy_app/adminbase.html" %}
{% load static from staticfiles %}


{% block body_block %}
<div id="contact">
  <div class="container">

    <!-- Dection Title -->
    <div class="section-title" >
      <h3>Contact <span>Us</span></h3>
    </div>

    <!-- CONTACT FORM HERE -->
    <div class="row">
      <div class="col-md-8">
        <div class="contact-form">
          <form id="contact-form" class="row" action="http://sharjeelanjum.com/html/car-rental/html/feedback.php" method="POST">
            <div class="col-md-6 col-sm-6">
              <input type="text" class="form-control" name="name" placeholder="Name" required  >
            </div>
            <div class="col-md-6 col-sm-6">
              <input type="email" class="form-control" name="email" placeholder="Email" required >
            </div>
            <div class="col-md-6 col-sm-12">
              <input type="tel" class="form-control" name="phone" placeholder="Phone">
            </div>
            <div class="col-md-6 col-sm-12">
              <input type="text" class="form-control" name="address" placeholder="Address">
            </div>
            <div class="col-md-12 col-sm-12">
              <textarea class="form-control" rows="5" name="message" placeholder="Message"></textarea>
            </div>
            <div class="col-md-12">
              <button id="submit" type="submit" class="form-control" name="submit">Send Message</button>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-4">
        <div class="contact-now">
          <div class="contact"> <span><i class="fas fa-address-book"></i></span>
            <div class="information"> <strong>Address:</strong>
              <p>our address</p>
            </div>
          </div>
          <!-- Contact Info -->
          <div class="contact"> <span><i class="fa fa-envelope"></i></span>
            <div class="information"> <strong>Email Address:</strong>
              <p>investigate@joinbuggy.com</p>
              <p>investigate@joinbugy.com</p>
            </div>
          </div>
          <!-- Contact Info -->
          <div class="contact"> <span><i class="fa fa-phone"></i></span>
            <div class="information"> <strong>Phone No:</strong>
              <p>+12 345 67 09</p>
              <p>+12 345 67 09</p>
            </div>
          </div>
          <!-- Contact Info -->
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
